table.app-locations-dash {
    // move the table padding to after the scrollable pane
    margin-bottom: 0;

    tr {
        > th:nth-child(1) {
            width: 70%;
        }

        > th:nth-child(2) {
            width: 15%;
        }

        > th:nth-child(3) {
            width: 15%;
        }        
    }
}
