@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Locations_For_ServiceModel
@{
    ViewData["Title"] = "";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}