@model IDictionary<string, Microsoft.AspNetCore.Html.HtmlString>

<h2 class="govuk-heading-m">
If you cannot find the location
</h2>
<p>You can <a href="@Model["AddLocationHref"]">add a new location</a>.</p>
