@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Service_DescriptionModel
@{
    ViewData["Title"] = "Give a description of the service";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_SingleTextAreaPage" model="Model"/>
