@page
@model ServiceConfirmationModel
@{
    const string title = "You have saved these details";
    ViewData["Title"] = title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @title
        </h1>

        @* todo: need to add service type here and in add confirmation link *@
        <p>Any changes will show in the directory straight away. You can <a asp-page="/manage-services/Index">return to the list of services</a>.</p>

        <a class="govuk-button" asp-page="/Welcome">Go to homepage</a>
    </div>
</div>
