@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Service_DetailModel

<h1>Service details placeholder</h1>

<summary-list>
    <summary-list-row key="Name" action1="Change" action1-href="/manage-services/service-name?serviceId=@(Model.ServiceId)&flow=edit">@Model.Title</summary-list-row>
</summary-list>
