<h1 class="govuk-label--l">
    Give a description of the service
</h1>
<p>Provide a brief summary of the support and activities offered. You do not need to add information such as opening times and contact details at this stage.</p>