@page
@model ServiceConfirmationModel
@{
    ViewData["Title"] = "Service added";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <h1 class="govuk-panel__title">
                Service added
            </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        
        <p>People can now find this service on the directory. You can <a asp-page="/manage-services/index" asp-route-serviceType="@Model.ServiceType">view and edit your services</a>.</p>

        <a class="govuk-button" asp-page="/Welcome">Go to homepage</a>
    </div>
</div>