@page "/manage-services/service-detail"
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.ServiceDetailModel
@{
    ViewData["Title"] = Model.Title;
}

@section Back {
    <a href="/manage-services" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Title</h1>
               
        <p>Description</p>
    </div>
</div>

