@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.Support_OfferedModel
@{
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <h1 class="govuk-heading-l">
                What support does the service offer?
            </h1>

            <p>Placeholder page</p>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
