@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.timesModel
@{
    ViewData["Title"] = "When is the service available?";

    Model.Errors.ErrorIdToHtmlElementId = errorId => errorId switch
    {
        (int)ErrorId.Times__EnterWeekdaysTimes => "todo: first empty?",
        (int)ErrorId.Times__EnterWeekendsTimes => "todo: first empty?",
        (int)ErrorId.Times__EnterValidWeekdaysStartTime => Model.WeekdaysStarts.HourElementId,
        (int)ErrorId.Times__EnterValidWeekdaysFinishTime => Model.WeekdaysFinishes.HourElementId,
        (int)ErrorId.Times__EnterValidWeekendsStartTime => Model.WeekendsStarts.HourElementId,
        (int)ErrorId.Times__EnterValidWeekendsFinishTime => Model.WeekendsFinishes.HourElementId,
        _ => throw new SwitchExpressionException(errorId)
    };
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" model="Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="select-periods-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            When is the service available?
                        </h1>
                    </legend>
                    <p id="select-periods-hint">Select the periods during which the service is available. You can provide more specific details such as session times on the next page.</p>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                            @* todo: do we have to set aria-expanded="true|false", or will that be set for us? *@
                            @* todo: update id's and names *@
                            <input type="checkbox" id="contact" class="govuk-checkboxes__input"
                                   name="contact" value="email" data-aria-controls="conditional-contact"
                                   @(Model.WeekdaysStarts.Time != null && Model.WeekdaysFinishes.Time != null ? "checked" : "")>
                            <label class="govuk-label govuk-checkboxes__label" for="contact">
                                Weekdays
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">

                            <div id="weekdays-times-hint" class="govuk-hint">
                                Enter times. For example, starts at 9:00am and finishes at 2:30pm.<br />You can provide specific opening times on the next page.
                            </div>

                            <partial name="_Time" model="Model.WeekdaysStarts" />
                            <partial name="_Time" model="Model.WeekdaysFinishes" />

                        </div>
                        <div class="govuk-checkboxes__item">
                            <input type="checkbox" id="contact-2" class="govuk-checkboxes__input"
                                   name="contact" value="phone" data-aria-controls="conditional-contact-2"
                                   @(Model.WeekendsStarts.Time != null && Model.WeekendsFinishes.Time != null ? "checked" : "")>
                            <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                                Weekends
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">

                            <div id="weekends-times-hint" class="govuk-hint">
                                Enter times. For example, starts at 9:00am and finishes at 2:30pm.<br />You can provide specific opening times on the next page.
                            </div>

                            <partial name="_Time" model="Model.WeekendsStarts" />
                            <partial name="_Time" model="Model.WeekendsFinishes" />

                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
