@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.timesModel
@{
    ViewData["Title"] = "When is the service available?";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" for="@Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

@*         <h1 class="govuk-heading-l">When is the service available?</h1>
 *@        
@*         <p>Select the periods during which the service is available. You can provide more specific details such as session times on the next page.</p>
 *@
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" @* aria-describedby="contact-hint" *@>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        When is the service available?
                    </h1>
                </legend>
                <p>Select the periods during which the service is available. You can provide more specific details such as session times on the next page.</p>
@*                 <div id="contact-hint" class="govuk-hint">
                    Select all options that are relevant to you.
                </div> *@
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-checkboxes__label" for="contact">
                            Weekdays
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                        
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Starts
                                </legend>
                                <div class="govuk-date-input">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="weekdays-start-hour">
                                                Hour
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="weekdays-start-hour" name="weekdays-start-hour" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="weekdays-start-minute">
                                                Minute
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="weekdays-start-minute" name="weekdays-start-minute" type="text" inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label govuk-visually-hidden" for="weekdays-start-ampm">
                                                Am or pm
                                            </label>
                                            @* todo: no inline style - check different browsers *@
                                            @* todo: remove input styles *@
                                            <select style="min-width: 2.5em" class="govuk-select govuk-date-input__input govuk-input--width-2" id="weekdays-start-ampm" name="weekdays-start-ampm">
                                                <option value="am" selected>am</option>
                                                <option value="pm">pm</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        </div>
                        

@*                         <div class="govuk-form-group">
                            <label class="govuk-label" for="weekdays-start-hour">
                                Hour
                            </label>

                            <input class="govuk-input govuk-input--width-2" id="weekdays-start-hour" name="weekdaysStartHour" type="text">
                            <label class="govuk-label" for="weekdays-start-minute">
                                Minute
                            </label>
                            <input class="govuk-input govuk-input--width-2" id="weekdays-start-minute" name="weekdaysStartMinute" type="text">

                            <label class="govuk-label govuk-visually-hidden" for="weekdays-start-ampm">
                                Am or pm
                            </label>
                            <select style="min-width: 3.5em" class="govuk-select" id="weekdays-start-ampm" name="weekdays-start-ampm">
                                <option value="am" selected>am</option>
                                <option value="pm">pm</option>
                            </select>
                        </div> *@
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                            Weekends
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="contact-by-phone">
                                Phone number
                            </label>
                            <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
