@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.times_at_locationModel
@{
    ViewData["Title"] = Model.Title;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_CheckboxesPage" model="Model" />
