@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.What_LanguageModel
@{
    ViewData["Title"] = "Which language is the service offered in?";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Which language is the service offered in?</h1>
        
        <p>Placeholder page</p>
    </div>
</div>