@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.who_forModel
@{
    ViewData["Title"] = "Can children or young people use the service?";
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Can children or young people use the service?
                </h1>
            </legend>

            <form method="post" novalidate>

                <div class="govuk-form-group">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="children" name="children" type="radio" value="Yes" aria-controls="age-range">
                            <label class="govuk-label govuk-radios__label" for="children">
                                Yes, they can use the service
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="age-range">
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="FromAge">
                                    From
                                </label>
                                <select asp-for="FromAge" asp-items="Model.Ages" class="govuk-select"></select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" asp-for="ToAge">
                                    To
                                </label>
                                <select asp-for="ToAge" asp-items="Model.Ages" class="govuk-select"></select>
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="children-2" name="children" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="children-2">
                                No, they cannot use the service
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </fieldset>
    </div>
</div>