@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.MyAccount.Pages.ChangeNameModel
@{
    ViewData["Title"] = "Change your name";
}


<form method="post" novalidate="" data-validate="my-form-validation">

    <div class="govuk-form-group">
        <label for="new-name" class="govuk-label">Name</label>
        <input type="text" id="new-name" class="govuk-input govuk-!-width-one-half" asp-for="@Model.FullName" maxlength="255" />
    </div>
    <div class="govuk-form-group"></div>

    <button class="govuk-button">
        Save
    </button>
</form>
<p><a asp-page="@Model.PreviousPageLink">Cancel</a></p>
