@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.IndexModel

<button type="button" class="govuk-button govuk-button--secondary filters-mobile" id="buttonShowFilters" >Show filters</button>
<button type="button" class="govuk-button govuk-button--secondary filters-mobile govuk-!-display-none" id="buttonHideFilters" >Hide filters</button>

<div class="filters-component panel-component__content" id="filters-component" data-controller="filters">
    <div class="filters-component__heading">
        <h2 class="govuk-heading-m">Filter users</h2>
    </div>
    <div class="filters-component__groups">
        <div class="filters-component__groups__group">
            <div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Name</h3>
                        </legend>
                        @* todo: target width-20 doesn't exists - will be flagged during accessibility testing*@
                        <label class="govuk-label govuk-visually-hidden" for="width-20">
                            Search by users name
                        </label>
                        @* todo: repeated use of userName id will get flagged by accessibility testing *@
                        <input class="govuk-input govuk-input--width-20" id="userName" asp-for="Name" type="text">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="filters-component__groups__group">
            <div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Email address</h3>
                        </legend>
                        @* todo: target width-20 doesn't exists - will be flagged during accessibility testing*@
                        <label class="govuk-label govuk-visually-hidden" for="width-20">
                            Search by users email address
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="userName" asp-for="Email" type="text">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="filters-component__groups__group">
            <div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Organisation they work for</h3>
                        </legend>
                        @* todo: target width-20 doesn't exists - will be flagged during accessibility testing*@
                        <label class="govuk-label govuk-visually-hidden" for="width-20">
                            Name of organisation
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="userName" asp-for="Organisation" type="text">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="filters-component__groups__group">
            <div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Type of user</h3>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="isLaUser" name="IsLaUser" value="true" type="checkbox" @(Model.IsLaUser ? "checked=\"checked\"" : string.Empty)>
                                @* todo: user-2 target is missing *@
                                <label class="govuk-label govuk-checkboxes__label" for="user-2">
                                    Local authority
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="isVcsUser" name="IsVcsUser" value="true" type="checkbox" @(Model.IsVcsUser ? "checked=\"checked\"" : string.Empty)>
                                <label class="govuk-label govuk-checkboxes__label" for="user-3">
                                    Voluntary and community sector organisation
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
        Apply filters
    </button>

    <p><a asp-page-handler="ClearFilters">Clear filters</a></p>
</div>