@page "/AccountAdmin/ManagePermissions/{AccountId:long}/Delete"
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.DeleteUserPermissionsModel
@{
    Layout = "~/pages/Shared/_InputPageLayout.cshtml";

    ViewData["Title"] = Model.PageHeading;
}

<div class="govuk-form-group">
    <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-user" type="radio" asp-for="DeleteUser" value=true>
            <label class="govuk-label govuk-radios__label" for="remove-user">
                Yes, delete the permissions
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-user-2" type="radio" asp-for="DeleteUser" value=false>
            <label class="govuk-label govuk-radios__label" for="remove-user-2">
                No, keep the permissions
            </label>
        </div>
    </div>
</div>