@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.IndexModel
@{
    ViewData["Title"] = "Manage Permissions";
    Layout = "~/pages/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Manage user permissions</h1>
            <p>Edit or delete user permissions.</p>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            @await Html.PartialAsync("_filter", new FilterModel())
        </div>
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("_paginatedResults", Model.PaginatedResultsModel)
        </div>
    </div>


</main>