@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.VcsAdmin.Pages.AddOrganisationModel
@{
    Layout = "~/pages/Shared/_InputPageLayout.cshtml";
    ViewData["Title"] = Model.PageHeading;
}


<div class="govuk-form-group">
    <label class="govuk-label govuk-visually-hidden" for="organisationName">Name of organisation</label>
    <input class="govuk-input" id="organisationName" asp-for="@Model.OrganisationName" type="text" maxlength="255" autocomplete="off">
</div>
