@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.VcsAdmin.Pages.AddOrganisationAlreadyExistsModel
@{
    Layout = "~/pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "This name has already been used by another VCS organisation";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This name has already been used by another VCS organisation</h1>
            <p class="govuk-body">Check you typed the name correctly.</p>
            <p class="govuk-body">If you pasted the name, check you copied all of it.</p>
            <p class="govuk-body">Find an existing organisation in <a asp-page="ManageOrganisations">manage VCS organisations</a>.</p>
        </div>
    </div>

</main>