@page "/VcsAdmin/DeleteOrganisation/{OrganisationId:long}/Confirmation"
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.ManagePermissions.DeleteOrganisationResultModel
@{
    Layout = "~/pages/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.PageHeading;
}

    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" style="overflow-wrap: anywhere">@Model.PageHeading</h1>
                
                @if (Model.OrganisationDeleted)
                {                    
                    <p>The users it created can no longer use their accounts. Any services it added are no longer showing in the directory.</p>
                    <p>You can add organisations from your homepage.</p>
                }
                else
                {                    
                    <p>The users it created can still use their accounts.</p>
                }

                <a class="govuk-button" asp-page="/Welcome">Go to homepage</a>
            </div>
        </div>
    </form>
