@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.VcsAdmin.Pages.UpdateOrganisationResultModel
@{
    ViewData["Title"] = "You have saved these details";
}

    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have saved these details</h1>
                <p>
                    Any changes will show in the directory straight away.
                </p>
                <a class="govuk-button" asp-page="Welcome">Go to homepage</a>
            </div>
        </div>
    </form>
