<div class="card">
    <h3 class="govuk-heading-s">
        <a asp-page-handler="AddPermissionFlow" id="add-permission">Add a user</a>
    </h3>
    <p class="govuk-body-s">Add a user account to manage support services or connection requests.</p>
</div>