@using FamilyHubs.ServiceDirectory.Admin.Core.Models
<div class="card">
    <h3 class="govuk-heading-s">
        <a href="@ServiceJourneyPageExtensions.GetStartPageUrl()">Add a service</a>
    </h3>
    <p class="govuk-body-s">Add a service to the directory.</p>
    <p class="govuk-body-s">Services can include groups, activities, programmes and advice.</p>
</div>