@inject IHttpContextAccessor HttpContextAccessor

@{
    var showSignOut = false;

    if (HttpContextAccessor.HttpContext?.User.Identity != null)
    {
        showSignOut = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    }
}

<header class="govuk-header app-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container">
        <div class="govuk-width-container">
            <div class="govuk-header__logo">
                <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <img src="~/lib/govuk/assets/images/crest.png" alt="Department for Education homepage" class="govuk-header__logotype-crown-fallback-image">
                        <span class="govuk-header__logotype-text">
                            Department for Education
                        </span>
                    </span>
                </a>
                <span class="govuk-header__logotype-text">|</span>
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__product-name">
                        Manage family support services and accounts
                    </span>
                </a>
            </div>
            <div class="govuk-header__content">
                <nav class="govuk-header__navigation govuk-header__navigation--end" aria-label="Menu">
                    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false" hidden="">Menu</button>
                    @if (showSignOut)
                    {
                        <ul id="navigation" class="govuk-header__navigation-list">
                            <li class="govuk-header__navigation-item">
                                <a class="govuk-header__link" href="/account/signout">Sign out</a>
                            </li>
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</header>

