<div class="card">
    <h3 class="govuk-heading-s">
        <a asp-page="/Manage-Locations/Index">Manage locations</a>
    </h3>
    <p class="govuk-body-s">View, change or delete service and family hub locations in the directory.</p>
</div>