@model ServiceTypeArg

<div class="card">
    <h3 class="govuk-heading-s">
        <a href="/staged?servicetype=@Model">Manage services</a>
    </h3>
    <p class="govuk-body-s">View, change or delete services shown in the directory.</p>
</div>