@model ServiceTypeArg?

<div class="card">
    <h3 class="govuk-heading-s">
        <a href="/staged?servicetype=@Model">Manage staged services</a>
    </h3>
    <p class="govuk-body-s">View, approve or reject staged services shown in the directory.</p>
</div>