@model ServiceTypeArg

<div class="card">
    <h3 class="govuk-heading-s">
        <a href="/manage-services?servicetype=@Model">Services</a>
    </h3>
    <p class="govuk-body-s">Add, view, change or delete services shown in the directory.</p>
    <p class="govuk-body-s">Services can include groups, activities, programmes and advice.</p>
</div>