@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.Error._403Model
@{
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You do not have permission to perform this action </h1>
            <p>If you think you should have access, contact the organisation that set up your permissions.</p>
            <a asp-page="/Welcome" class="govuk-button">Return home</a>
        </div>


    </div>

</main>