@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.AccountAdmin.Pages.addUser.TypeOfUser
@{
    ViewData["Title"] = "Type of user";
}

<a asp-page="/welcome" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Who is the account for?
                    </h1>
                </legend>
                <form method="post" novalidate="" data-validate="my-form-validation">

                    <div class="govuk-form-group">
                        
                        <fieldset class="govuk-fieldset">
                            
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="userType-1" name="userType" type="radio" value="Department for Education administrator">
                                    <label class="govuk-label govuk-radios__label" for="userType-1">
                                        Department for Education administrator
                                    </label>
                                </div>
                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="userType-2" name="userType" type="radio" value="Local authority administrator">
                                    <label class="govuk-label govuk-radios__label" for="userType-2">
                                        Local authority administrator
                                    </label>
                                </div>
                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="userType-3" name="userType" type="radio" value="Voluntary community organisation administrator">
                                    <label class="govuk-label govuk-radios__label" for="userType-3">
                                        Voluntary community organisation administrator
                                    </label>
                                </div>
                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="userType-4" name="userType" type="radio" value="Professional">
                                    <label class="govuk-label govuk-radios__label" for="userType-4">
                                        Professional working with family
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <button class="govuk-button">
                        Continue
                    </button>
                </form>
            </fieldset>
        </div>


    </div>

</main>