@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            
            
            @*<a asp-page="/OrganisationAdmin/Start" class="govuk-button" data-module="govuk-button">Organisation Admin ></a>*@
            
            <br />

            <h1 class="govuk-heading-l">
                Request local help and support for children, young people and families
            </h1>
            <p class="govuk-body">
                This is for professionals working with children, young people and families in England.
            </p>
            <p class="govuk-body">
                Find and request support from local organisations, community groups and charities.
            </p>
            
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Do not use this service if you believe the child is being harmed or is in immediate danger. Call the police on 999 instead.
              </strong>
            </div>

			<div class="govuk-details__text">
                You need consent to request support. If the person is under 19, you need consent from a parent or carer. 
            </div>

			<br />
			<br />

            @*<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Important
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                  An important message!
                </p>
             </div>
            </div>*@

            <a asp-page="/FindServiceFromPostcode" class="govuk-button" data-module="govuk-button">Start now ></a>
            @*<a asp-controller="Home" asp-action="Index" class="govuk-button" data-module="govuk-button">Start now ></a>*@
            
        </div>
    </div>
</main>

