@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.AccessibilityModel
@{
    ViewData["Title"] = "Accessibility Statement";
}

<a href="@Model.PreviousPageLink" class="govuk-back-link">Back</a>

<main b-c3a05l4i8h="" class="govuk-main-wrapper custom-main" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" data-testid="accessibility-heading">Accessibility Statement</h1>

            <p class="govuk-body">
                This accessibility statement applies to Connect families to support.
            </p>
            <p class="govuk-body">This website is run by the Department for Education. We want as many people as possible to be able to use this website.</p>
            <p class="govuk-body">
                For example, that means you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">
                We’ve also made the website text as simple as possible to understand.
            </p>
            <p class="govuk-body">
                AbilityNet has advice on making your device easier to use if you have a disability.
            </p>
            <h2 class="govuk-heading-l">How accessible this website is</h2>
            <p class="govuk-body">
                We suspect that some part of this website may not be accessible.
            </p>
            <h2 class="govuk-heading-l">Feedback and contact information</h2>
            <p class="govuk-body">
                If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, email:<a href="mailto:connect-family-support.service@education.gov.uk" data-testid="mailto-connect-family-link" class="govuk-link"> connect-family-support.service@education.gov.uk.</a>
            </p>
            <p class="govuk-body">
                We’ll consider your request and get back to you in 14 days.
            </p>
            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">
                We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:connect-family-support.service@education.gov.uk" data-testid="mailto-connect-family-support-link" class="govuk-link"> connect-family-support.service@education.gov.uk.</a>
            </p>
            <h2 class="govuk-heading-l">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).
            </p>
            <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">
                The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>
            <h2 class="govuk-heading-l">Compliance status</h2>
            <p class="govuk-body">
                This website is not compliant with the WCAG version 2.1 AA standard.
            </p>
            <h2 class="govuk-heading-l">Non-accessible content</h2>
            <p class="govuk-body">
                The content is non-accessible for the following reason: the service is still in development and not yet publicly available outside of a small targeted area.
            </p>
            <p class="govuk-body">
                The content is not within the scope of the accessibility regulations.
            </p>
            <p class="govuk-body">
                The service is still in development.
            </p>
            <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
            <p class="govuk-body">
                We are testing the service and developing the service to be accessible at the point when it will be more widely available.
            </p>
            <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
            <p class="govuk-body">
                This statement was prepared on 15 December 2022. It was last reviewed on 15 December 2022.
            </p>
        </div>
    </div>

</main>