@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.AgreeToTermsAndConditionsModel
@{
    ViewData["Title"] = "Agree to our terms of use";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Agree to our terms of use</h1>

            <p>By continuing, you confirm that you agree to our:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a asp-page="/Privacy" new-tab>privacy notice</a>, which explains how we use your personal information</li>
                <li><a asp-page="/Terms-and-conditions/Index" new-tab>terms and conditions</a></li>
            </ul>

            <form method="post">
                <input type="hidden" id="ReturnPath" name="ReturnPath" asp-for="ReturnPath" />
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>

</main>