@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.AgreeToTermsAndConditionsModel
@{
    ViewData["Title"] = "Agree to our terms of use";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Agree to our terms of use</h1>

            <p>By continuing, you confirm that you agree to Manage family support services and accounts:</p>
            <ul class="govuk-list">
                <li><a asp-page="/Privacy" class="govuk-link" rel="noreferrer noopener" target="_blank">privacy notice (opens in new tab)</a>, which explains how we use your personal information</li>
                <li><a asp-page="/TermsAndConditions" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and conditions (opens in new tab)</a></li>
            </ul>

            <form method="post">
                <input type="hidden" id="ReturnPath" name="ReturnPath" asp-for="ReturnPath" />
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>

</main>