@page

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Coming soon
                </h1>
            </div>

            <form method="post">
                <a asp-page="welcome" class="govuk-button">Go to homepage</a>
            </form>

        </div>
    </div>
