@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    var organisationName = Model.FamilyHubsUser.OrganisationId == "-1" ? "Department for Education" : Model.OrganisationViewModel.Name;
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-l govuk-!-margin-bottom-1">@Model.FamilyHubsUser.FullName</h1>

            <h1 class="govuk-caption-l">@organisationName</h1>

            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Accounts</h2>

            <div class="cards">
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page-handler="AddPermissionFlow" id="add-permission">Add permissions</a>
                    </h3>
                    <p class="govuk-body-s">Add account permissions to manage family support services and manage connection requests.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Manage permissions</a>
                    </h3>
                    <p class="govuk-body-s">View and remove account permissions to manage family support services or manage connection requests.</p>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Local authorities (LAs)</h2>

            <div class="cards">
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Add an LA service</a>
                    </h3>
                    <p class="govuk-body-s">Add a service to the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Manage LA services</a>
                    </h3>
                    <p class="govuk-body-s">View, change or delete services shown in the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Add a family hub</a>
                    </h3>
                    <p class="govuk-body-s">Add a family hub to the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Manage family hubs</a>
                    </h3>
                    <p class="govuk-body-s">View, change or delete family hubs shown in the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Activate a local authority</a>
                    </h3>
                    <p class="govuk-body-s">Activate an LA before you create its accounts, services and family hubs.</p>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Voluntary community organisations (VCSs)</h2>

            <div class="cards">
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Add a VCS service</a>
                    </h3>
                    <p class="govuk-body-s">Add a service to the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Manage VCS services</a>
                    </h3>
                    <p class="govuk-body-s">View, change or delete services shown in the directory.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-area="vcsAdmin" asp-page="/AddOrganisation">Add a VCS organisation</a>
                    </h3>
                    <p class="govuk-body-s"> Add an organisation before creating their user accounts.</p>
                </div>
                <div class="card">
                    <h3 class="govuk-heading-s">
                        <a asp-page="/PlaceHolder">Manage VCS organisations</a>
                    </h3>
                    <p class="govuk-body-s">View, change or delete existing organisations.</p>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

            <div class="cards">
                @if (Model.IsUploadSpreadsheetEnabled)
                {
                    <div class="card">
                        <h2 class="govuk-heading-s">
                            <a asp-page-handler="UploadSpreadsheetData" asp-route-organisationid="@Model.OrganisationViewModel.Id" data-module="govuk-button" data-testid="upload-spreadsheet">
                                Upload Excel Spreadsheet
                            </a>
                        </h2>
                        <p class="govuk-body-s">Upload an excel spreadsheet.</p>
                    </div>
                }
            </div>
            
        </div>
    </div>
</main>