@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.ServiceWizzard.Pages.ErrorServiceModel
@{
    ViewData["Title"] = "Service Error";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p>Try again later.</p>
            <form method="post">
                <button type="submit" class="govuk-button">
                    Back to homepage
                </button>
            </form>
        </div>
    </div>
