@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.ServiceWizzard.Pages.ServiceAddedModel
@{
    ViewData["Title"] = "Service Added";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Service added
            </h1>
        </div>

        <p>The service is now visible in the directory.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>

        <p>People working with families can connect you with families who need support.</p>

        <p>View these connections in your inbox on your home page.</p>

        <form method="post">
            <button type="submit" class="govuk-button">
                Go to home page
            </button>
        </form>
    </div>
</div>
