@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_locations.Family_HubModel
@{
    ViewData["Title"] = Model.Legend;
}

@section Back {
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<partial name="_RadiosPage" model="Model" />