@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_locations.ManageLocationsModel
@{
    ViewData["Title"] = Model.Title;
}

@section Back {
    <a href="/Welcome" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Title</h1>
        <p>@Model.SubTitle or <a href="/manage-locations/start-add-location">add a new location</a>.</p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            @await Html.PartialAsync("_locationsFilter", Model)
        </div>
        <div class="govuk-grid-column-three-quarters">
            @if (Model.ResultCount > 0)
            {
                <partial name="_Dashboard" model='Model' />
            }
            else
            {
                <h2 class="govuk-heading-m">No results returned</h2>
                <p>Try again by changing or removing filters you applied.</p>
            }
        </div>
    </div>
</form>
