@model FamilyHubs.ServiceDirectory.Admin.Core.Models.CheckDetailsRowModel

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Model.Name
    </dt>
    <dd class="govuk-summary-list__value" id="@Model.Id">
        @Model.Value
    </dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="@Model.ChangeLocation">
            Change<span class="govuk-visually-hidden"> name</span>
        </a>
    </dd>
</div>