@page
@model TypeOfUserLa
@{
    ViewData["Title"] = "Type of User La";
    var errorGroupCss = Model.HasValidationError ? "govuk-form-group--error" : "";
}
<a asp-page="/TypeOfRole" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                <div class="govuk-form-group">
                    @if (Model.HasValidationError)
                    {
                        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list" data-testid="errors-list">
                                    <li>
                                        <a href="#la-admin">Select what they need to do</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What do they need to do?
                            </h1>
                        </legend>
                        <div class="govuk-form-group @errorGroupCss">
                            @if (Model.HasValidationError)
                            {
                                <span class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select who you are adding permissions for</span>
                            }
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="la-admin" data-testid="la-admin" asp-for="UserTypeForLa" type="radio" value="Admin">
                                    <label class="govuk-label govuk-radios__label" for="la-admin">
                                        Add and manage services, family hubs and accounts
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="la-professional" data-testid="la-professional" asp-for="UserTypeForLa" type="radio" value="Professional">
                                    <label class="govuk-label govuk-radios__label" for="la-professional">
                                        Make connection requests to voluntary and community sector services
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="govuk-button">
                            Continue
                        </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</main>