<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
        What do they need to do?
    </h1>
</legend>

<div class="govuk-inset-text">
    An organisation should only have one person with permissions to view and manage connection requests.
</div>