@page
@model TypeOfUserLa
@{
    ViewData["Title"] = "Type of User La";
}

<div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="la-admin" data-testid="la-admin" asp-for="UserTypeForLa" type="radio" value="Admin">
        <label class="govuk-label govuk-radios__label" for="la-admin">
            Add and manage services, family hubs and accounts
        </label>
    </div>
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="la-professional" data-testid="la-professional" asp-for="UserTypeForLa" type="radio" value="Professional">
        <label class="govuk-label govuk-radios__label" for="la-professional">
            Make connection requests to voluntary and community sector services
        </label>
    </div>
</div>
                        