@page "{cacheId}"
@model WhichLocalAuthority
@{
    ViewData["Title"] = "Which local authority do they work for?";
    Model.ErrorElementId = "LaOrganisationName";
}
@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}
    
@section Scripts {
    <script src="~/js/accessible-autocomplete.min.js" asp-append-version="true"></script>

    <script>
        let selectElement = document.querySelector('#LaOrganisationName')

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: decodeHtml('@Model.LaOrganisationName'),
            name: 'localAuthority',
            selectElement: selectElement
        })
    </script>
}

<div class="govuk-form-group">
    <label class="govuk-label" for="LaOrganisationName">
        <!---Select local authority--->
    </label>
    <select class="govuk-select" id="LaOrganisationName" name="LaOrganisationName" aria-describedby="LaOrganisationName-hint">
        <option value="" selected disabled></option>
        @foreach(var option in Model.LocalAuthorities)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>


