@page "{cacheId}"
@model WhichVcsOrganisation
@{
    ViewData["Title"] = "Which organisation do they work for?";
    Model.ErrorElementId = "VcsOrganisationName";
}
@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}
    
@section Scripts {
    <script src="~/js/accessible-autocomplete.min.js" asp-append-version="true"></script>

    <script>
        let selectElement = document.querySelector('#VcsOrganisationName');

        var name = document.getElementById('modelVcsOrganisationName').value;

        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: name,
            name: 'VcsOrganisationName',
            selectElement: selectElement
        })
    </script>
}
<input type="hidden" id="modelVcsOrganisationName" value="@Model.VcsOrganisationName" />

<div class="govuk-form-group">
    <div class="govuk-hint govuk-!-margin-top-2">
        Their organisation must be in the directory for it to appear here. If it's not, you can <a asp-page-handler="AddOrganisation" id="add-organisation">add an organisation</a>.        
    </div>    
    
    <label class="govuk-label" for="VcsOrganisationName">
        <!---Select local authority--->
    </label>
    <select class="govuk-select" id="VcsOrganisationName" name="VcsOrganisationName" aria-describedby="VcsOrganisationName-hint">
        <option value="" selected disabled></option>
        @foreach(var option in Model.VcsOrganisations)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>


