@page
@model WhichLocalAuthority
@{
    ViewData["Title"] = "Which Local Authority";
}
@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}
    
@section Scripts {
    <script src="~/js/accessible-autocomplete.min.js" asp-append-version="true"></script>

    <script>
        let selectElement = document.querySelector('#localAuthority')

        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            name: 'localAuthority',
            selectElement: selectElement
        })
    </script>
}

<div class="govuk-form-group">
    @if (Model.IsVcsJourney)
    {
        <div class="govuk-hint govuk-!-margin-top-2">
            Their organisation must be in the directory for it to appear here. If it's not, you can <a href="#">add an organisation</a>.
        </div>    
    }
    
    <label class="govuk-label" for="localAuthority">
        <!---Select local authority--->
    </label>
    <select class="govuk-select" id="localAuthority" name="localAuthority" aria-describedby="localAuthority-hint">
        <option value="" selected disabled></option>
        @foreach(var option in Model.LocalAuthorities)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>


