@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.Manage.ServicesModel
@{
    // todo: from code behind
    ViewData["Title"] = "[Local authority] Services";
}

@* todo: hardcode back href *@
@section Back {
    <a class="govuk-back-link fh-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">[Local authority] Services</h1>
    </div>
</div>

<partial name="_Dashboard" model='Model' />