@page
@{
    ViewData["Title"] = "Page not found";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p>
            If you typed the web address, check it is correct.
        </p>
        <p>
            If you pasted the web address, check you copied the entire address.
        </p>
        <p>
            If the problem continues, email us at <a href="mailto:find-support-for-your-family.service@education.gov.uk">find-support-for-your-family.service@education.gov.uk</a>
        </p>
    </div>
</div>