@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.Locations.Pages.ManageLocationsModel
@{
    ViewData["Title"] = Model.Title;
}

@section Back {
    <a href="/Welcome" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<partial name="_Dashboard" model='Model' />
