@model FamilyHubs.ServiceDirectory.Admin.Web.ViewModel.MyAccountViewModel
@{
    Layout = "~/pages/Shared/_Layout.cshtml";
}

@if (Model.HasBackButton)
{
    <a asp-page="@Model.PreviousPageLink" class="govuk-back-link">Back</a>
}

@RenderBody()
