<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<h2 class="govuk-heading-m govuk-!-margin-bottom-6">@Header</h2>

@code {
    [Parameter]
    public string Header { get; set; } = string.Empty;
}
