@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.ErrorServiceModel
@{
}


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">Try again later.</p>
            @*<p class="govuk-body"><a href="../../add-service/v5/homepage">Back to homepage</a></p>*@
            <form method="post">
                <button type="submit" class="govuk-button">
                    Back to homepage
                </button>
            </form>
        </div>


    </div>

</main>