@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.OfferAtFamiliesPlaceModel
@{
}


@*<a asp-page="/OrganisationAdmin/ListOrganisations" class="govuk-back-link">Back</a>*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <form method="post">
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-m">
                    Can families choose where they use the service?
                </h1>

                <p>PLACEHOLDER</p>
            </fieldset>
        </form>
    </div>


</main>
