@page
@model             ServiceNameModel
@{
}

<a asp-page="/OrganisationAdmin/Welcome" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
        <h1 class="govuk-fieldset__heading">
          What is the name of your service
        </h1>

      <form method="post">

      <input asp-for="@Model.StrOrganisationViewModel" type="hidden" >

      <div class="govuk-form-group">
          @*<label class="govuk-label" for="ServiceName">Enter Service Name</label>*@
        <input class="govuk-input govuk-input--width-20" id="ServiceName" name="ServiceName" value="@Model.ServiceName" type="text">
      </div>

      <!-- To be added into new service description-->
      @* <div class="govuk-form-group">
          <label class="govuk-label" for="serviceDescription">Enter Service Description</label>
          <textarea class="govuk-textarea" id="serviceDescription" name="serviceDescription" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>*@

      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
    </fieldset>
  </div>
</div>
</main>
