@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.SignInModel
@{
}

@*<a asp-page="/OrganisationAdmin/Start" class="govuk-back-link">Back</a>*@

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Sign in to your account</h1>

            <form method="post">
                <div class="govuk-form-group @(ModelState.IsValid == false ? "govuk-form-group--error" : "")">
                    <label for="password" class="govuk-label">Password</label>
                    @if (ModelState.IsValid == false)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <span asp-validation-for="@Model.Password"></span>
                        </p>
                    }
                    <input type="password" name="password" id="password" class="govuk-input govuk-!-width-one-half @(ModelState.IsValid == false ? "govuk-input--error" : "")" value="@Model.Password" autocomplete="current-password">
                </div>
                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>