@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.Shared.FamilyHubsUiPageModel
@{
    ViewData["Title"] = "Contact us";
}

@section Back {
    <a class="govuk-back-link fh-back-link">Back</a>
}

<partial name="_ContactUs" model="Model.FamilyHubsUiOptions" />
