@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.OrganisationAdmin.Pages.ServiceNotDeletedModel
@{
    ViewData["Title"] = "Service Not Deleted";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have not deleted the service</h1>
                <p>It is still showing in the directory.</p>
                <button type="submit" class="govuk-button">
                    Go to home page
                </button>
            </div>
        </div>
    </form>
</main>