@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.OrganisationAdmin.Pages.UploadSpreadsheetDataModel
@{
    ViewData["Title"] = "Upload Spreadsheet Data";
}
@section Back {
    <a asp-page="/OrganisationAdmin/Welcome" asp-route-organisationId="@Model.OrganisationId" class="govuk-back-link" data-testid="back-button">Back</a>
}

    <form enctype="multipart/form-data" method="post">
        <input asp-for="@Model.OrganisationId" type="hidden">
        @Html.ValidationSummary(false, "", new { @class = "govuk-error-message" })
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This file upload only supports .xlsm, .xlsx and .xls spreadsheets.
            </strong>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label">
                Upload an .xlsm, .xlsx or .xls excel spread sheet.
            </label>
            <input class="govuk-file-upload" asp-for="FileUpload.FormFile" type="file">
        </div>
        <input class="govuk-button" asp-page-handler="Upload" class="btn" type="submit" value="Upload">
    </form>

    @if (Model.UploadErrors.Any())
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var error in Model.UploadErrors)
                        {
                            <li>
                                <a href="#">@error</a>
                            </li>    
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (Model.ShowSuccess)
    {
        <form method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have successfully uploaded your data</h1>
                    <p class="govuk-body">
                        Any changes will show in the directory straight away.
                    </p>
                    <button asp-page-handler="GotoHomePage" type="submit" class="govuk-button" data-testid="homepage-button">
                        Go to home page
                    </button>
                </div>
            </div>
        </form>
    }
