@page
@model SubjectAccessResultDetailsModel
@{
    ViewData["Title"] = "Subject Access Result Details?";
}

@section Head {
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Back {
    <a href="/La/PersonsDetails" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">My requests</h1>
    </div>
</div>

<partial name="_Dashboard" model='Model' />