@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.Cookies.IndexModel
@{
    ViewData["Title"] = "Cookies";
}

@section Back {
    <a class="govuk-back-link fh-back-link">Back</a>
}

<partial name="~/Pages/Shared/_CookiePage.cshtml" model="Model.CookiePage" />